# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Node
node_modules
npm-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# Environment
.env
.env.local
